.transactionHistory{
  height: 750px;
  width: 550px;
  text-align: center;
  border: 3px lavender solid;
  box-shadow: rgba(0, 0, 0, 0.25) 0 3px 5px;
}

.thead {
 background-color: cornflowerblue;
  height: 50px;
  font-size: 20px;
  letter-spacing: 02px;
  color: white;

}

.trow:nth-child(even){
  background-color: ghostwhite;
}

